= form_tag connect_users_path, method: 'post', remote: true, multipart: true do
  .row
    .col-md-3
      .form-group
        = label_tag "Host"
        = text_field_tag 'connect[host]', "", class: 'form-control'
    .col-md-3
      .form-group
        = label_tag "User"
        = text_field_tag 'connect[user]', "", class: 'form-control'
    .col-md-3
      .form-group
        = label_tag "Port"
        = number_field_tag 'connect[port]', nil, class: 'form-control', min: 0, max: 65535
    .col-md-3
      .form-group
        = label_tag "Connection method"
        = select_tag 'connect[method]', options_for_select(["By password", "By private key"]), {class: 'form-control select_method'}
  .row
    .col-md-3.private_key.hidden
      .form-group
        = label_tag "Private key"
        = file_field_tag 'connect[private_key]', class: 'filestyle', data: {placeholder: "No file"}
    .col-md-3.password
      .form-group
        = label_tag "Password"
        = password_field_tag 'connect[password]', "", class: 'form-control'
    .col-md-3.passphrase.hidden
      .form-group
        = label_tag "Passphrase"
        = password_field_tag 'connect[passphrase]', "", class: 'form-control'
    .col-md-3
      .form-group
        = label_tag "Process name"
        = text_field_tag 'connect[process_name]', "", class: 'form-control'
    .col-md-3
      .form-group
        = label_tag "Port to check"
        = number_field_tag 'connect[port_to_check]', nil, class: 'form-control', min: 0, max: 65535
  .row
    .col-md-12
      .form-group
        .actions
          = submit_tag 'Connect',  class: 'btn btn-primary'
.row
  .col-md-12
    #result