= form_with(model: machine, local: true) do |form|
  - if machine.errors.any?
    #error_explanation
      %h2
        = pluralize(machine.errors.count, "error")
        prohibited this machine from being saved:
      %ul
        - machine.errors.full_messages.each do |message|
          %li= message
  .field
    = form.fields_for :connections do |c|
      .nested-fields
        .field
          = c.label :ssh_key
          = c.file_field :ssh_key, id: :connection_ssh_key
        .field
          = c.label :passphrase
          = c.text_field :passphrase, id: :connection_passphrase
  .field
    = form.label :ssh_user
    = form.text_field :ssh_user, id: :machine_ssh_user
  .field
    = form.label :ssh_host
    = form.text_field :ssh_host, id: :machine_ssh_host
  .actions
    = form.submit
