%p#notice= notice
%h1 Machines
%table
  %thead
    %tr
      %th Ssh user
      %th Ssh host
      %th Cpu
      %th Number of cores
      %th Cpu max freq
      %th Kernel
      %th Hostname
      %th Architecture
      %th Memory total
      %th Memory used
      %th Memory type
      %th{:colspan => "3"}
  %tbody
    - @machines.each do |machine|
      %tr
        %td= machine.ssh_user
        %td= machine.ssh_host
        %td= machine.cpu
        %td= machine.number_of_cores
        %td= machine.cpu_max_freq
        %td= machine.kernel
        %td= machine.hostname
        %td= machine.architecture
        %td= machine.memory_total
        %td= machine.memory_used
        %td= machine.memory_type
        %td= link_to 'Show', machine
        %td= link_to 'Edit', edit_machine_path(machine)
        %td= link_to 'Destroy', machine, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Machine', new_machine_path
